<!DOCTYPE html>
<html>
    <head>
        <meta lang="en">
        <title>Online Store</title>
    </head>
    <body>
        <nav>
            <h1>ShopIt</h1>
            <ul> 
                <li><a>ABOUT US</a></li>
                <li><a>CONTACTS</a></li>
                <li><a>SERVICES</a></li>
            </ul>
            <button>Log In</button>
            <button>Sign Up</button>
        </nav>
        <main>

        </main>
        <footer>

        </footer>
        
    </body>
</html>